.textRow{
    margin: 10px 0;
}

.metaboxInput{
    width: 100%;
}

.previewRow{
    margin-top: 20px;
}

.labelRow{
    margin-top: 10px;
}

#imgPreview {
    width:100%;
    height: 13vw;
    object-fit: cover;
}

#music_image_input {
    display:none;
}

#music_file_input{
    display:none;
}
  
.fileInputLabel{
    display:block;
    width:10vw;
    padding: 10px;
    text-align:center;
    background:#1172c2;
    color:#fff;
    font-size:0.9em;
    font-family:"Open Sans",sans-serif;
    text-transform:Uppercase;
    font-weight:500;
    border-radius:5px;
    cursor:pointer;
}